<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	<!-- 配置bean -->
	<bean id ="helloword" class="com.atgs.bean.HelloWord">
		<property name="name" value="spring"></property>
	</bean>
	<bean id ="car" class="com.atgs.bean.Car">
		<constructor-arg value="AUDI" index="0"></constructor-arg>
		<constructor-arg value="shanghai" index="1"></constructor-arg>
		<constructor-arg value="300000" type="double"></constructor-arg>
	</bean>
	<bean id ="car2" class="com.atgs.bean.Car">
		<constructor-arg value="Baoma" type="java.lang.String"></constructor-arg>
		<!-- 如果字面值包含特殊字符用<![CDATA[<shanghai^>]]>
		属性值也可以使用value 直接进行配置 -->
		<constructor-arg type="java.lang.String">
			<value><![CDATA[<shanghai^>]]></value>
		</constructor-arg>
		<constructor-arg value="240" type="int"></constructor-arg>
		<!-- <constructor-arg>
			<value>240</value>
		</constructor-arg> -->
   </bean>
	<bean id ="person" class="com.atgs.bean.Person">
		<property name="name" value="tom"></property>
		<property name="age" value="26"></property>
		<!-- 可以使用peoperty 的ref 属性建立bean 之间的引用关系 -->
		<!-- <property name="car" ref="car2"></property> -->
		<!-- <property name="car">
			<ref bean="car2"/>
		</property> -->
		<!-- 使用内部类 -->
		<!-- 内部类不能被外部引用，只能被外部访问 -->
		<property name="car">
			<bean  class="com.atgs.bean.Car">
				<constructor-arg value="FORD"></constructor-arg>
				<constructor-arg value="changan"></constructor-arg>
				<constructor-arg value="200000" type="double"></constructor-arg>
			</bean>
		</property>
	</bean>
	<bean id ="person2" class="com.atgs.bean.Person">
		<constructor-arg value="tom"></constructor-arg>
		<constructor-arg value="27"></constructor-arg>
		<!-- 测试null赋值 -->
		<!-- <constructor-arg ><null/></constructor-arg> -->
		<!-- 测试级联属性 -->
		<constructor-arg ref="car"></constructor-arg>
		<property name="car.maxspreed" value="300"></property>
	</bean>
	<bean id="person3" class="com.atgs.collection.Person">
		<property name="name" value="mike"></property>
		<property name="age" value="28"></property>
		<property name="cars">
		<!-- 使用list节点为list类型的节点赋值 -->
			<list>
				<ref bean="car"/>
				<ref bean="car2"/>
				<bean  class="com.atgs.bean.Car">
					<constructor-arg value="FORD"></constructor-arg>
					<constructor-arg value="changan"></constructor-arg>
					<constructor-arg value="200000" type="double"></constructor-arg>
			</bean>
			</list>	
		</property>
	</bean>
	<!-- 配置map属性 -->
	<bean id="person4" class="com.atgs.collection.NewPerson">
		<property name="name" value="rose"></property>
		<property name="age" value="28"></property>
		<property name="cars">
		<map>
			<entry key="aa" value-ref="car"></entry>
			<entry key="bb" value-ref="car2"></entry>		
	  </map>
	</property>
	</bean>
	<bean id="datasource" class="com.atgs.collection.DataSource">
		<property name="properties">
			<props>
				<prop key="userName">root</prop>
				<prop key="password">12345</prop>
				<prop key="url">jdbc://mysql///test</prop>
				<prop key="driver">com.mysql.jdbc.Driver</prop>
			</props>
		</property>
	</bean>
	<!-- 配置单例的集合bean 一共多个bean进行引用，需要导入util命名空间 -->
	<util:list id="cars">
		<ref bean="car"/>
		<ref bean="car2"/>
	</util:list>
	<bean id="person5" class="com.atgs.collection.Person">
		<property name="name" value="jack"></property>
		<property name="age" value="28"></property>
		<property name="cars" ref="cars"></property>
	</bean>
	<!-- 通过bean的命名空间为bean的属性赋值 -->
	<bean id="person6" class="com.atgs.collection.Person" p:name="queen"
	      p:age="30" p:cars-ref="cars">
	</bean>
</beans>
